.countries-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 75px;
  padding-bottom: 48px;
}

.country-card {
  background-color: var(--element-bg);
  border-radius: 5px;
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  overflow: hidden;
}

.country-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.flag-container {
  width: 100%;
  height: 160px;
  overflow: hidden;
}

.flag-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.country-info {
  padding: 24px;
}

.country-name {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 16px;
  color: var(--text-color);
}

.country-details p {
  font-size: 14px;
  margin-bottom: 8px;
  color: var(--text-color);
}

.label {
  font-weight: 600;
}

@media (max-width: 768px) {
  .countries-grid {
    grid-template-columns: 1fr;
    gap: 40px;
    justify-items: center;
    padding-bottom: 65px;
  }

  .country-card {
    width: 80%;
    max-width: 380px;
    border-radius: 8px;
  }

  .flag-container {
    height: 200px;
  }

  .country-info {
    padding: 24px 24px 48px 24px;
  }

  .country-name {
    font-size: 22px;
    margin-bottom: 16px;
  }

  .country-details p {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

.no-results {
  text-align: center;
  padding: 40px 0;
  color: var(--text-color);
  animation: fadeIn 10s ease-in-out;

  p {
    font-size: 18px;
    font-weight: 600;
  }

  .world-map-img {
    margin-top: 5px;
    width: 50%;
  }
}

.fade-in {
  animation: fadeIn 10s ease-in-out;
}

.scale-in {
  animation: scaleIn 3.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
